.news {
  transition: box-shadow 1500ms ease, transform 1500ms;
  backface-visibility: hidden;
  box-shadow: 0px -1px 32px -4px #000000, -10px 10px 0 0 #ffeb3c00;
  display: -webkit-box;
  display: -webkit-flex;
  border-radius: 0.5em;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -10em;
  position: relative;
  transform: scale(1) translateZ(0);
  transition: .5s;
  width: 100%;
  z-index: 20;
  &:hover {
    box-shadow: 0px -3px 32px -4px #000000;
    transform: scale(1.01) translateZ(0);
    transition: box-shadow 1500ms ease, transform 1500ms;
  }
  &__image {
    display: none;
    overflow: hidden;
    cursor: default;

    @include tablet {
      width: 100%;
      height: 100%;
      max-height: 40em;
      background-size: cover;
      background-position: 50% 50%;
      display: flex;
    }
  }

  &__context {
    padding: 2em;
  }
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 20px;
    height: 10px;
    background-color: $violet;
    backface-visibility: hidden;
  }
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 10px;
    height: 20px;
    background-color: $accent;
    backface-visibility: hidden;
  }

}

.cell-image {
  @include mobile-only {
    display: none;
  }
}

.context {
  color: black;
  font-size: 1em;
  line-height: 1.5em;

  .topline {
    display: flex;
    cursor: default;
    &__tag {
      margin-left: 0.5em;
      &--hot {
        color: white;
        background-color: $violet;
        font-size: 0.8em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  &__headline {
    padding: 0.5em 0em;
    display: inline-block;
    color: white;
    font-size: 1.3em;
    margin: 0.2em 0;
    cursor: default;

    @include tablet {
      margin: 0.5em 0;
      font-size: 2em;
    }
    @include notebook {
      margin: 0;
    }
    &::selection {
      background-color: $accent;
    }
  }
  &__description {
    color: #a6a8c6;
    margin: 0.5em 0;
    cursor: default;
    @include notebook {
      margin: 1em 0 1.5em;
    }
  }
  &--highlight {
    font-family: Kanit;
    font-size: 0.9em;
    color: white;
    cursor: default;
  }
  &__data {
    margin: 0.5em 0;
    .icon {
      color: white;
      vertical-align: middle;
    }
  }
}

.articles {
  .cell-flex {
    margin: 1em 0;
  }
}

.news-small {
  background-color: $violet;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  padding: 1.5em;
  height: 11em;
  box-shadow: 0px 0px 22px 0px black;
  border-radius: 0.5em;
  transition: 250ms ease;
  width: 100%;

  &__info {
    background-color: $violet;
    padding: 0 0.2em;
    color: white;
  }
  &__title {
    margin: 0.6em 0 0.5em;
    font-size: 1em;
    color: white;
    background: linear-gradient(to left, $violet, transparent);
  }
  &__excerpt {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.3em;
    color: white;
  }
  &:hover {
    box-shadow: 5px -5px 0 0 blue, -5px 5px 0 0 $accent;
  }
  a:focus, a:hover {
    box-shadow: 5px -5px 0 0 #00f, -5px 5px 0 0 #ffffff;
    transform: scale(1.02);
  }
}

@include desktop-only {
  #fx {
    width: 10vh;
    height: 100%;
    position: absolute;
    z-index: 250;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #fx-left {
    float: left;
    z-index: 250;
    display: inline-block;
    width: 5vh;
    height: 100%;
    box-shadow: inset -3.5vh 0 2vh -2vh rgba(0, 0, 0, 0.50);
    border-right: 1px solid #111;
  }
  #fx-right {
    float: right;
    z-index: 250;
    display: inline-block;
    width: 5vh;
    height: 100%;
    box-shadow: inset 3.5vh 0 2vh -2vh rgba(0, 0, 0, 0.75);
    border-left: 1px solid #111;
  }
}