*, ::after, ::before {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: blue;
}

body {
  background-color: $violet;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.icon-spinner {
  display: none;
}
.icon--spin {
  animation: icon-spin 2s infinite linear;
}
.icon-dice {
  transition: transform 200ms;
}
.icon-align-right {
  vertical-align: top;
}
.icon-xs-logo {
  width: 5em;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 75em;
  margin: 3em 1em;
  @include tablet {
    width: 55%;
    margin: 3em auto;
  }
  @include notebook {
    width: 65%;
    margin: 3em auto;
  }
  @include desktop {
    width: 80%;
    margin: 3em auto;
  }
}

.cell-flex {
  flex: 0 0 auto;
}

.large-4 {
  width: 100%;
  @include notebook {
    width: calc(33% - 30px);
  }
}

.large-6 {
  width: 100%;
  @include notebook {
    width: 50%;
  }
}

.fx-shadow {
  box-shadow: 0 0 0 0 #00f, 0 0 0 0 #ffeb3b;
  transform: scale(1) translateZ(0);
  transition: 100ms ease;
  will-change: transform, box-shadow;

  &:hover {

    transform: scale(1.01);
    transition: 400ms cubic-bezier(0.25, 0.1, 0.34, 1.93);
  }
}
