.sidebar--trigger .icon {
  display: none;
}
.sidebar--trigger .icon.active {
  display: block;
}

.btn--o {
  display: block;
  margin: 1em;
  border: 2px solid white;
  padding: 1em 2em;
  border-radius: 2em;
  color: white;
  font-family: Kanit;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;

  @include tablet {
    display: inline-block;
    padding: 0.5em 2em;
  }
}

.btn--load {
  background-color: #333672;
  border: none;
  border-radius: 10em;
  box-shadow: 0 0 50px -5px #343671;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-family: Kanit;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 1em 3em;
  position: relative;
  transition: 100ms ease;
  @include tablet {
    padding: 1em 3em;
  }
  &:hover {
    background-color: #333672;
    color: #fff;
    transform: scale(0.97);
    box-shadow: inset 0px 0px 17px rgba(0, 0, 0, 0.6509803921568628);
    .icon-dice {
      transform: rotate(180deg);
    }
  }
}

.download {
  display: inline-block;
  margin: 1em 0;
}