footer {
  background: black;
  padding: 0.1em 0;
  .hello {
    margin: 0 auto;
    color: white;
    &:hover {
      color: blue;
    }
  }
  .icon-xs-logo {
    display: inline-block;
    font-size: 3em;
  }
}