header {
  display: none;

  @include mobile-only {
    display: block;
    height: 100%;
    width: 75%;
    padding: 2em;
    background: black;
    flex-direction: column;

  }

  @include notebook {
    display: flex;
  }
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 2em 5em 0.5em;
  width: 100vw;
  z-index: 100;
  background-color: transparent;
  transition: 200ms transform ease, 0ms background-color ease;

  &.sticky {
    @include desktop-only {
      transform: translateY(-20px);
      background-color: rgba(0, 0, 0, 0.3);
      transition: 200ms transform ease, 500ms background-color ease 300ms;
    }
  }
}

.sidebar {
  will-change: transform;
  transition: 350ms ease;
  @include mobile-only {
    transform: translateX(-100%);
    &--opened {
      transform: translateX(0);
    }
  }
}

.sidebar--trigger {
  display: none;
  @include mobile-only {
    display: block;
    background: transparent;
    border: none;
    font-size: 2em;
    position: absolute;
    right: -3em;
    z-index: 500;
    color: white;
    transition: 250ms ease;
  }
}

.logo {
  position: relative;
  .icon-logo {
    height: 3.75em;
    width: 100%;
  }
}

#icon-logo {
  path {
    fill: white !important;
  }
}

.menu {
  position: relative;
  z-index: 10;
  @include mobile-only {
    padding: 1em;
    width: 80%;
    margin: 0 auto;
  }
  ul {
    @include mobile-only {
      flex-direction: column;
    }
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
}

.menu__item {
  @include mobile-only {
    align-items: flex-end;
    margin: 0.5em 0;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1em;
  line-height: 1;
  letter-spacing: 0.5px;
  position: relative;
  outline: none;
  cursor: pointer;
  &:hover, &.active {
    .menu__item-name::before {
      transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
    }
    .menu__item-name::after {
      transform: translate3d(0, 0, 0);
    }
    .menu__item-label {
      color: #fff;
    }
  }

  &-name, &-label {
    position: relative;
    display: inline-block;
  }

  &-name {
    font-weight: bold;
    overflow: hidden;
    padding: 0 0.25em;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.25em;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: blue;
      transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
      transition: transform 0.5s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      will-change: transform;
    }
    &:after {
      top: calc(50% - 2px);
      height: 4px;
    }
  }
  &-label {
    @include mobile-only {
      opacity: 0;
    }
    font-size: 0.75em;
    margin: 0.5em 0 0 0;
    margin-top: 0.25em;
    padding: 0.5em;
    color: #e8e8e8;
    transition: color 0.7s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }

}

.dir-switcher {
  @include mobile-only {
    padding: 0.2em 2em;
    width: 90%;
  }
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.4em 0.7em;
  margin-left: 3em;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 100ms ease;
}

.pressed {
  transform: scaleX(-1);
}

