.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  * {
    z-index: 10;
  }
  &__cover {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $violet;
    //opacity: 0;
    pointer-events: none;
    &.js--loading {
      opacity: 1;
    }
  }
  &__header {
    font-size: 2.5em;
    font-weight: 700;
    font-family: Poppins;
    margin: -2em 0 0;
    color: white;
    z-index: 10;
    @include tablet {
      font-size: 5em;
    }
    @include notebook {
      font-size: 7.3em;
      margin: 0;
    }
  }
  &__subheader {
    font-size: 1.1em;
    color: white;
    z-index: 10;
    @include tablet {
      font-size: 1.4em;
    }
    @include notebook {
      font-size: 1.7em;
      margin: 1em;
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(16, 3, 27, 0) 10%, #12071b);
    width: 100%;
    height: 5em;
    opacity: 1;
    z-index: 10;
    pointer-events: none;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(60deg, rgba(0, 0, 0, 0.1), #9C27B0);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
  }
}

.unsplash {
  span {
    font-family: Kanit;
    color: white;
  }
  &__link {
    display: none;

    @include tablet {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 1em;
      padding: 0.2em;
      font-family: Kanit;
      color: white;
    }
  }

  &__author {
    font-weight: 200;
  }
  &__powerdby {
    @include mobile-only {
      right: 30px;
    }
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em;
    padding: 0.2em;
    font-family: Kanit;
    color: white;
  }
}