.related {
  position: relative;
  display: block;
  background: black;
  color: #efffc1;
  text-align: center;
  padding: 2em;
  margin: 4em auto;
  //border: 0.5em solid blue;
  border-radius: 2em;
  width: 100%;
  @include tablet {
    width: 100%;
    //border: 10px solid blue;
  }
  &:hover {
    &:after {
      bottom: 1.3em;
      width: 90%;
      box-shadow: 2px 42px 52px $accent;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 2.5em;
    left: 50%;
    width: 35%;
    transform: translateX(-50%);
    background: black;
    border-radius: 50%;
    box-shadow: 2px 42px 32px $accent;
    transition: 350ms ease;
    height: 10px;
    z-index: -1;
  }
  h2 {
    margin: 0;
    font-family: Kanit;
    letter-spacing: 0.6px;
  }
}