html[dir="ltr"] {
  @include mobile-only {

    .sidebar {
      transform: translateX(150%);
      &--trigger {
        left: -3em;
        @include tablet {
          left: -5em;
        }
      }
      &--opened {
        transform: translateX(35%);
      }
    }

    .dir-switcher {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .news-small__title {
    background: linear-gradient(to right, $violet, transparent);
  }
}
