$accent: #343671;
$violet: #10031b;

$mobile-width: 320px;
$tablet-width: 600px;
$notebook-width: 992px;
$desktop-width: 1500px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin notebook {
  @media (min-width: #{$notebook-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile-only {
  @media screen and (max-width: $notebook-width) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: $notebook-width) {
    @content;
  }
}